// Variables

// Colors
$primary: #DABF82;
$black: #090909;
$border-radius: 50px;
$font-size-lg: 2rem;
$gray: rgb(172, 172, 172);

// End of variables

// Spacer adding specified sizes

$spacer: 1rem;
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 12)
);

// End of spacer

.previous-cr:hover{
  cursor: pointer;
  line-height: 1.3rem;
  text-shadow: 2px 2px #c4c4c4;
}

.sponsors-bg{
  background-color: $primary ;
}

body{
  position: relative;
}
