.hero-img {
  background: url("../images/hero-img.png") no-repeat center right;
  background-size: cover;
  height: 120vh;
}



@include media-breakpoint-down(md) {
  .hero-img {
    background: none;
    height: 100%;
  }
}

